
/*** KEINE 100% BUTTONS ***/
.ghostkit-button{
  width: inherit;
}
@media(max-width: 959px){
  .ghostkit-button{
    .ghostkit-button-icon{
      margin-left: 0 !important;
      margin-right: var(--gkt-button--icon__offset) !important;
    }
  }
}

/*** BUGFIX: Bilder werden sonst nicht zentiert (Flaggen) ***/
.wp-block-image{
  .aligncenter{
    text-align: center;
    img{
      display: inline-block;
    }
  }
}

/*** BEWERTUNGEN ***/
.post-stars{
  color: $w-color-primary !important;
}
.modal__header{
  .post-stars{
    margin: 0 !important;
  }
}

/*** TEAM ***/
.post--box{
  &.type-team{
    .post-inner{
      border-radius: 12px;
      overflow: hidden;
    }

  }
}

/*** KUNDENBINDUNG-SLIDER ***/
.slide-block-kundenbindung{
  box-shadow: $w-def-box-shadow;
  border-radius: 12px !important;
}

/*** CUSTOM TRENDCOM CONTAINER ***/
.is-style-trendcom-container{
  position: relative;
  .wp-block-group__inner-container{
    padding: 3em 5em;
    border-radius: 12px;
    box-shadow: $w-def-box-shadow;
    position: relative;
    z-index: 9;
    background: #fff;
  }
  &:after, &:before{
    content: '';
    width: 350px;
    height: 350px;
    background-image: url(../img/trendcom-container-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    z-index: -2;
  }
  &:after{
    top: -20px;
    left: -20px;
  }
  &:before{
    bottom: -20px;
    right: -20px;
  }
}

/*** SUBHEADLINE ***/
.is-style-subheadline{
  color: $w-color-primary;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
  margin-bottom: -1rem !important;
}

/*** SLIDER ***/
.swiper-slide{
  /*box-shadow: $w-def-box-shadow;
  .wp-block-image{
    img{
      width: 100%;
    }
  }*/
}

/*** ICON-BOX **/
.ghostkit-icon-box{
  align-items: flex-start;
  .ghostkit-icon-box-icon{
    margin-top: 0.5rem;
    width: 50px;
  }
}
.ghostkit-icon-box-icon-align-top{
  justify-content: center;
  height: 80px;
}

/*** HEADER & FOOTER ***/
.header-btn-wrapper{
  display: flex;
  margin-left: 3vw;
  a{
    display: flex;
    margin-right: 5px;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(321deg, rgba(0,125,131,1) 0%, rgba(0,151,157,1) 100%);
    border-radius: 4px;
    &:last-child{
      margin-right: 0;
    }
    svg{
      width: 16px;
      path{
        fill: #fff;
      }
    }
  }
}
.footer-contact{
  .contact-data{
    display: flex;
    li{
      margin-right: 25px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

#footer{
  padding: 75px 0;
  box-shadow: 0px 0px 60px rgba(0, 128, 134, 0.08);
  .alignwide{
    display: flex;
    justify-content: space-between;
    .contact-wrapper{
      display: flex;
      align-items: center;
      flex-direction: column;
      @media(min-width: $breakpoint-small) {
          flex-direction: inherit;
      }
      a{
        display: flex;
        align-items: center;
        color: #283536;
        @media(min-width: $breakpoint-small) {
            margin-right: 20px;
        }
        svg{
          margin-right: 10px;
          path{
            fill: #1d7d8c;
          }
        }
      }
    }
    .col{
      display: flex;
      align-items: center;
      &:first-child{
        .img-wrapper{
          width: 65px;
          margin-right: 3vw;
          svg{
            display: block;
            width: 100%;
          }
        }
      }
      &:last-child{
        text-transform: uppercase;
        font-size: 0.8em;
        color: #6F6F6F;
        .img-wrapper{
          width: 160px;
          margin-left: 2vw;
        }
      }
    }
  }
}
@media(max-width: 992px){
  #footer{
    padding: 25px 0;
    .alignwide{
      flex-direction: column;
      align-items: center;
      .contact-wrapper{
        flex-direction: column;
        a{
          margin: 0 !important;
          &:first-child{
            margin-bottom: 5px !important;
          }
        }
      }
      .col{
        flex-direction: column;
        .img-wrapper{
          margin: 0 !important;
          margin-bottom: 15px !important;
        }
        &:first-child{
          margin-bottom: 25px;
        }
        &:last-child{
          .footer-menu{
            order: 2;
          }
          .img-wrapper{
            order: 1;
          }
        }
      }
    }
  }
}
@media(max-width: 768px){
  .is-style-trendcom-container{
    .wp-block-group__inner-container{
      padding: 1rem 1rem;
    }
  }
}
